# 1. gradient boosting

In [81]:
## importing the libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [82]:
dsvm1=pd.read_csv('insurance.csv')

In [83]:
dsvm1

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

# regular checks 
- head, tail, isnull().sum(),duplicated etc
- describe, info

# Exploratory data analysis
- uni variate
- bi variate

# data preprocssing
- convert contineous to categorical
- tools ;
*labelencoder

- print(dsvm['sex'].unique())
- print(dsvm['region'].unique())
- print(dsvm['smokrt'].unique())     DONE PREVIOUSLY

In [84]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [85]:
# using label encoder for sex

dsvm1.sex=le.fit_transform(dsvm['sex'])

# using label encoder for region
dsvm1.region=le.fit_transform(dsvm['region'])

# using label encoder for smoker
dsvm1.smoker=le.fit_transform(dsvm['smoker'])

In [86]:
dsvm1.head()   #X DATA CONVERTED

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

In [88]:
## Creating independent and dependent variable

X = dsvm1.drop('charges', axis=1)     #independent variable 
y= dsvm1.charges                     #dependent variable

In [89]:
y.unique()

array([16884.924 ,  1725.5523,  4449.462 , ...,  1629.8335,  2007.945 ,
       29141.3603])

In [90]:
## Balacing the data  # checked > data is being balanced

In [91]:
## creating X and y

X=dsvm1.drop('charges',axis=1)
X

      age  sex     bmi  children  smoker  region
0      19    0  27.900         0       1       3
1      18    1  33.770         1       0       2
2      28    1  33.000         3       0       2
3      33    1  22.705         0       0       1
4      32    1  28.880         0       0       1
...   ...  ...     ...       ...     ...     ...
1333   50    1  30.970         3       0       1
1334   18    0  31.920         0       0       0
1335   18    0  36.850         0       0       2
1336   21    0  25.800         0       0       3
1337   61    0  29.070         0       1       1

[1338 rows x 6 columns]

In [92]:
y

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64

In [93]:
#GRADIENT BOOSTING MODEL CREATION

In [94]:
## creating training and testing data
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=3)

In [113]:
## importing the model library
from sklearn.ensemble import GradientBoostingRegressor
gbm=GradientBoostingRegressor() ## object creation
gbm.fit(X_train,y_train) ## fitting the data
y_gbm=gbm.predict(X_test)#predicting the price

In [114]:
## evaluatin the model - REGRESSION TOOLS

In [115]:
## Installing XGB library
!pip install xgboost

Requirement already satisfied: xgboost in c:\users\ariba\anaconda3\lib\site-packages (1.7.6)
Requirement already satisfied: numpy in c:\users\ariba\anaconda3\lib\site-packages (from xgboost) (1.23.5)
Requirement already satisfied: scipy in c:\users\ariba\anaconda3\lib\site-packages (from xgboost) (1.9.1)

In [116]:
import xgboost

In [117]:
y_train

868     13129.60345
471      2203.47185
16      10797.33620
1037    39725.51805
109     47055.53210
           ...
789     13457.96080
256     43921.18370
968      3279.86855
952      4527.18295
1273     4747.05290
Name: charges, Length: 1003, dtype: float64

In [118]:
# Step 4 Model Evalution

from sklearn.metrics import r2_score,mean_squared_error,mean_absolute_error
r2score=r2_score(y_test,y_gbm)
r2score

0.8567948928205534

In [119]:
X_test.shape
## calculation of adjusted r2 score
adjusted_r2 = 1-(1-0.8568941414830518)*(335-1)/(335-6-1)
adjusted_r2

0.8542763513882295

In [120]:
import math
print(mean_squared_error(y_test,y_predict))
print(math.sqrt(mean_squared_error(y_test,y_predict))) # root mean squared error
print(mean_absolute_error(y_test,y_predict))

310873953.09647447
17631.617994287266
13050.003186714588

### Model Creation

### Hyper parameter Tunning in XG bost

In [121]:
from sklearn.model_selection import RandomizedSearchCV

param_grid = {'gamma': [0,0.1,0.2,0.4,0.8,1.6,3.2,6.4,12.8,25.6,51.2,102.4, 200],
              'learning_rate': [0.01, 0.03, 0.06, 0.1, 0.15, 0.2, 0.25, 0.300000012, 0.4, 0.5, 0.6, 0.7],
              'max_depth': [5,6,7,8,9,10,11,12,13,14],
              'n_estimators': [50,65,80,100,115,130,150],
              'reg_alpha': [0,0.1,0.2,0.4,0.8,1.6,3.2,6.4,12.8,25.6,51.2,102.4,200],
              'reg_lambda': [0,0.1,0.2,0.4,0.8,1.6,3.2,6.4,12.8,25.6,51.2,102.4,200]}

XGB=XGBRegressor(random_state=42,verbosity=0,silent=0)
rcv= RandomizedSearchCV(estimator=XGB,scoring='neg_mean_squared_error',param_distributions=param_grid, n_iter=100, cv=5, 
                               verbose=2, random_state=42, n_jobs=-1)
                               
#estimator--number of decision tree
#scoring--->performance matrix to check performance
#param_distribution-->hyperparametes(dictionary we created)
#n_iter--->Number of parameter settings that are sampled. n_iter trades off runtime vs quality of the solution.default=10
##cv------> number of flods
#verbose=Controls the verbosity: the higher, the more messages.
#n_jobs---->Number of jobs to run in parallel,-1 means using all processors.
                        
rcv.fit(X_train, y_train)##training data on randomsearch cv
cv_best_params = rcv.best_params_##it will give you best parameters 
print(f"Best paramters: {cv_best_params})")##printing  best parameters

Fitting 5 folds for each of 100 candidates, totalling 500 fits
Best paramters: {'reg_lambda': 0.2, 'reg_alpha': 0.8, 'n_estimators': 65, 'max_depth': 5, 'learning_rate': 0.06, 'gamma': 0.8})

In [122]:
XGB2=XGBRegressor(reg_lambda= 12.8, reg_alpha= 0.1, n_estimators=150, max_depth=5, learning_rate=0.1, gamma=0.8)
XGB2.fit(X_train, y_train)#training 
y_GBM=XGB2.predict(X_test)#testing
#f1_score=f1_score(y_predict,y_test)#checking performance

In [123]:
X_test.shape

(335, 6)

In [124]:
# Step 4 Model Evalution

from sklearn.metrics import r2_score,mean_squared_error,mean_absolute_error
r2score=r2_score(y_test,y_GBM)
r2score

0.8551786997351498

In [125]:
X_test.shape
## calculation of adjusted r2 score
adjusted_r2 = 1-(1-0.855)*(335-1)/(335-6-1)
adjusted_r2

0.8523475609756097

In [126]:
#print(classification_report(y_test,y_predict))

In [127]:
import math
print(mean_squared_error(y_test,y_predict))
print(math.sqrt(mean_squared_error(y_test,y_predict))) # root mean squared error
print(mean_absolute_error(y_test,y_predict))

310873953.09647447
17631.617994287266
13050.003186714588